/* ======= BORDER BOX ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ======= LINKS, LIST ====== */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* ========== POINTER ======== */
label,
button,
.btn {
  cursor: pointer;
}

/* ========== MEDIA ========== */
img,
embed,
video,
object {
  max-width: 100%;
  display: block;
}

/* ======= BUTTONS INPUT ====== */
button,
.btn,
input {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
}

/*======== PARAGRAPH ========*/
p.paragraph {
  max-width: 70ch;
  line-height: 2;
}

/* ======== HTML BODY ======== */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}
