/* ========= CARDS CONTAINER ========= */
.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/*============== SCREEN ============== */
/* screen when menu opened  <div class="main-screen" onclick="toggleMenu()"></div> */
.main-screen {
  position: fixed;
  inset: 0 0 0 0;
  background-color: rgb(0 0 0 / 20%);

  cursor: pointer;
  pointer-events: none;

  opacity: 0;
  transition: opacity .6s;
}

body.menu-open .main-screen {
  pointer-events: auto;
  opacity: 1;
}

/*============== GRID LAYOUT ============== */
.grid-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 20px 1fr 20px;
  min-height: 100vh;
}

.grid-layout>* {
  grid-column: 2;
  padding: 0 20px;
}

.grid-layout>*.full {
  grid-column: 1 /-1;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}


/* mobile only  */
/* @media (max-width: 600px) {} */

/* tablets  */
/* @media (min-width: 601px) {
  .grid-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 600px) minmax(20px, 1fr);
  }
} */

/* laptops  */
/* @media (min-width: 768px) {
  .grid-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);
  }
} */

/* desktop  */
@media (min-width: 1200px) {
  .grid-layout {
    grid-template-columns:
      minmax(20px, 1fr) minmax(auto, 1200px) minmax(20px, 1fr);
  }
}