.app-header {
  background-color: var(--clr-secondary);
  position: relative;
  z-index: 10;
}

/* logo  */
.app-header .logo-wrapper {
  max-width: 200px;
}

/* mobile menu */
.nav {
  position: absolute;
  top: 100%;
  right: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 20;

  transition: transform 0.3s ease-in-out 0s;
}

body.menu-open .nav {
  transform: translateX(100%);
}

.nav__btn img {
  width: 24px;
}

.nav__list {
  height: 100%;
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav__list__item {
  position: relative;

  font-weight: 500;
  font-size: 24px;
  color: var(--text-secondary);
}

.nav__list__item:hover,
.nav__list__item.active {
  color: var(--text-primary);
}

/* nav button underline  */
.nav__list__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-primary);

  visibility: hidden;
  scale: 0;
  transition: scale 0.3s ease-in-out 0s;
}

.nav__list__item:hover::before,
.nav__list__item.active::before {
  visibility: visible;
  scale: 1;
}

/* MEDIA QUERIES*/

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 481px) {
}

@media screen and (min-width: 769px) {
  /* desktop menu  */
  .nav {
    position: initial;
    display: initial;
  }

  .nav__list {
    flex-direction: row;
    gap: 1em;
  }

  .nav__list__item {
    font-size: 18px;
  }
}

@media screen and (min-width: 1281px) {
}
